navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    background-color: rgba(0, 0, 0, 0.85);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}
